@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600;700&display=swap');

:root {
    --background: #f1fffa;
    --text: #3C4F76;
}

html,
body {
    box-sizing: border-box;
    font-weight: 400;
    width: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
}

body.blurred {
    filter: blur(8px);
    transition: filter 0.3s ease;
}

/* .noscrollburger {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
    font-weight: 400;
    overflow: hidden;

} */


/* start of the NAVIGATION */

.navigation {
    background-color: var(--background);
    position: sticky;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    border-bottom-width: calc(1rem / 10);
    border-bottom-style: solid;
    border-bottom-color: var(--text);
    z-index: 1000;
    overflow: hidden;
}

#navigationwrapper {
    height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#logosvg,
#arrow,
.threeballs,
#ball1,
#squareArrow {
    fill: var(--text);
}

.socials,
.ullist {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.ullist a {
    text-decoration: none;
    color: var(--text)
}

.dividers {
    align-self: center;
    border-top: calc(1rem / 10) solid var(--text);
    width: 28px;
    transform: rotate(90deg);
    margin: 0px;
}

.menu2 {
    display: none;
    width: auto;
    height: 5rem;
    cursor: pointer;
}

.menu2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(5rem / 2);
    height: calc(5rem / 2);
}

.menu2 span {
    background: var(--text);
    width: 100%;
    height: calc(3px / 2);
    display: block;
    transition: transform 0.9s, width 0.3s;
}

.menu2 .line-3 {
    width: 50%;
    height: calc(3px / 2);
    transform-origin: 0 0;
}

.menu2 .line-2 {
    transform-origin: center;
}

.menu2 .line-1 {
    width: 50%;
    height: calc(3px / 2);
    align-self: end;
    transform-origin: top right;
}

.ball1 {
    display: none;
    width: 80%;
    height: 80%;
    position: fixed;
}


/* END of the NAVIGATION ----------------------------------------------------------------------*/

/* START of the HERO --------------------------------------------------------------------------*/


.herosection1wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.herosection1 {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 10% 3.5rem 0;
    border-bottom: solid calc(1rem / 10) var(--text);
}

.herosection1 img {
    border-radius: 200px;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-right: 2rem;
}

i {
    scale: 1.2;
}

.arrowindicator {
    display: block;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 83%;
}

.firstparagraph {
    margin: 0.5vh 0;
    width: 65%;
}


.hellothere {
    font-size: 2rem;
    font-weight: 600;
}

#arrow {
    transform-origin: top;
    animation: scalearrow 6s ease-out infinite;
}

@keyframes scalearrow {
    0% {
        transform: scaleY(0);
        color: var(--background);
    }

    60% {
        transform: scaleY(1);
        color: var(--background);
    }

    80% {
        color: var(--background);
    }

    100% {
        transform: scaleY(1);
        color: var(--text);
    }
}

.herosection2 {
    box-sizing: border-box;
    padding: 3.5rem 10% 3.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid calc(1rem / 10) var(--text);
    gap: 5rem;
}

.ctas a,
.services a {
    text-decoration: none;
    color: var(--text);
}

.herosection2 .ctas {
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
}


.textWrapper {
    width: 80%;
}

.herosection2 a {
    text-decoration: none;
    color: var(--text);
}


.threeballs {
    height: inherit;
    width: auto;
}

.ballswrapper {
    width: auto;
    height: inherit;
    display: none;
    justify-content: end;
    align-items: end;
}

.secondparagraph {
    padding: 0;
    margin-top: 0.5rem;
    margin-right: 0;
}

p {
    font-size: 1.2rem;
}

.herosection3 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 13rem;
    border-bottom: solid calc(1rem / 10) var(--text);
    overflow: hidden;
    align-items: center;
}

.roles {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.role {
    font-weight: 600;
}

.m-scroll {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    height: 14rem;
    margin: auto;
    background-color: var(--background);
    overflow: hidden;
    z-index: 1;
    border-bottom: solid calc(1rem / 10) var(--text);
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.m-scroll__title>div {
    display: flex;
    -webkit-animation: scrollText 120s infinite linear;
    animation: scrollText 120s infinite linear;
}

.m-scroll__title h1 {
    margin: 0;
    font-weight: 380;
    text-transform: uppercase;
    font-size: 9rem;
    font-family: 'MuseoModerno', cursive;
    color: var(--text);
}

.m-scroll-element {
    padding-left: 3.2px;
}

@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.looptext-cont {
    margin-bottom: none;
}

.circle {
    display: inline-block;
    font-size: 4rem;
    height: inherit;
    margin: 0 2rem;
    position: relative;
    bottom: 2rem;
}


/* END of the HERO ---------------------------------------------------------------------------------*/

/* Start of the SERVICES -------------------------------------------------------------------------------*/
h2 {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 650;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    font-weight: 625;
    margin-bottom: 0;
    margin-top: -0.3rem;
}

.services {
    box-sizing: border-box;
    padding: 3.5rem 0 3.5rem 10%;
    overflow: hidden;
    border-bottom: solid calc(1rem / 10) var(--text);
}


.serviceswrapper {
    display: flex;
    gap: 4rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.serviceswrapper::-webkit-scrollbar {
    visibility: hidden;
}

.serviceswrapper div {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    width: 35.5%;
    max-width: 550px;
    box-sizing: border-box;
    border-bottom: solid calc(1rem / 10) var(--text);
}

.serviceswrapper img {
    width: 100%;
}

.livePreview {
    display: flex;
    gap: 1rem;
    background-color: var(--background);
    color: var(--text);
    border-radius: 0px;
    border: none;
    font-size: 0.8rem;
    padding: 1rem 3px;
    cursor: pointer;
}



/* END of the SERVICES --------------------------------------------------------------------------------*/

/* START of the ABOUT --------------------------------------------------------------------------------*/

.about {
    box-sizing: border-box;
    width: 90%;
    border-bottom: solid calc(1rem / 10) var(--text);
    display: flex;
    margin-left: auto;
    padding: 3.5rem 0;
}

#changeColorWord {
    text-decoration: underline;
    cursor: pointer;
}

.about img {
    width: 38%;
    max-width: 550px;
    height: 100%;
}

.aboutright {
    padding: 0 0 0 4rem;
}

.aboutright p {
    max-width: 85%;
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--text);
    border-radius: 0px;
    border: none;
    color: var(--background);
    width: auto;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.primary-button a {
    color: var(--background);
    text-decoration: none;
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    color: var(--text);
    border: solid calc(1rem / 10) var(--text);
    text-decoration: none;
    width: auto;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}



.ctas {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* END of the ABOUT --------------------------------------------------------------------------------*/

/* START of the DETAILS --------------------------------------------------------------------------------*/

.column,
.row {
    display: flex;
}

.detail {
    padding: 3.5rem 5% 3.5rem 10%;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: solid calc(1rem / 10) var(--text);
}


.column,
.row {
    flex-direction: column;
    padding: 0;
    justify-content: start;
}

.detail h3 {
    margin-bottom: 0;
}

.column {
    margin-right: 2rem;
    gap: 1rem;
}

.rowwrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    gap: 1rem;
    list-style: square;
}

.row li {
    list-style-type: square;
    position: relative;
    left: 1.2rem;
}

.row a {
    color: var(--text);
}

/* END of the DETAILS --------------------------------------------------------------------------------*/

/* START of the CONTACT --------------------------------------------------------------------------------*/

.contact {
    padding: 3.5rem 10%;
}

.contact .secondary-button {
    border: solid calc(1rem / 10) var(--text);
    gap: 1rem;
}

.contact .secondary-button a {
    color: var(--text);
    text-decoration: none;
}

/* END of the CONTACT --------------------------------------------------------------------------------*/

/* START of the FOOTER --------------------------------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 3.5rem 10%;
    border-top: solid calc(1rem / 10) var(--text);
}


.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 3.5rem;
    padding-right: 10%;
    height: 5rem;
}

.ullistFooter {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    width: min-content;
    padding: 0;
}

.ullistFooter a {
    text-decoration: none;
    color: var(--text);
}

.smallLine {
    align-self: flex-end;
    border-top: calc(1rem / 10) solid var(--text);
    width: 5%;
    margin: 0px;
}

.largeLine {
    align-self: flex-end;
    border-top: calc(1rem / 10) solid var(--text);
    width: 35%;
    margin: 0px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-right: 10%;
    border-top: solid calc(1rem / 10) var(--text);
}

.copyright p {
    margin: 0;
    width: 80%;
}


.copyright i,
.ullist i {
    scale: 2;
    color: var(--text);
}

/* END of the FOOTER --------------------------------------------------------------------------------*/

/* MEDIA QUERIES------------------------------------------------------------------------------------*/

@media (max-width: 1100px) {

    .logo {
        gap: 1rem;
    }

    #logosvg {
        height: 2.5rem;
        width: 2.5rem;
    }

    .aboutright p {
        max-width: 100%;
    }

    .myname {
        font-weight: 600;
    }

    .logoname,
    #firstspan,
    .ullist,
    .roles {
        display: none;
    }

    #socials {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .ullist i {
        scale: 1.1;
        margin-top: 2rem;
    }

    .menu2 {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .openmenu2 .line-1 {
        transform: rotate(-45deg) scaleX(1.4);
        translate: -3% 0;
    }

    .openmenu2 .line-2 {
        transform: rotate(45deg) scaleX(1.4);
    }

    .openmenu2 .line-3 {
        transform: rotate(-45deg) scaleX(1.4);
        translate: 3% 0;
    }

    .openmenu2 {
        align-self: end;
        animation-name: reopennavanimation;
        animation-duration: 2s;
        animation-timing-function: forwards;
        transition-timing-function: ease-out;
    }

    .opennav {
        position: sticky;
        top: 0px;
        left: 0px;
        animation-name: dropdown;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        transition-timing-function: linear;
        animation-delay: 0s;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: end;
        margin: 0px;

    }

    .opennav #navigationwrapper .logo {
        display: none;
    }

    .opennav #navigationwrapper {
        flex-direction: column;
        height: 70%;
    }

    .reopennav {
        display: initial;
        animation-name: reopennavanimation;
        animation-duration: 1s;
        animation-timing-function: forwards;
        transition-timing-function: ease-out;
        font-size: 3rem;
        font-weight: 550;
        text-align: right;
        margin-bottom: 3rem;
    }

    .showball {
        display: block;
        top: -170px;
        left: -100px;
        overflow: hidden;
        animation: reopennavanimation 2s ease-out 0s forwards, rotation 15s linear 2s infinite running forwards;
    }

    #ball1:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg)
        }
    }


    @keyframes dropdown {
        0% {
            height: 5rem;
        }

        100% {
            height: 100vh;
            padding: 5rem;
        }
    }

    @keyframes reopennavanimation {
        0% {
            opacity: 0%;
        }

        50% {
            opacity: 0%;
        }

        100% {
            display: 100%;
        }
    }

    .firstparagraph {
        width: 95%;
    }


    .textWrapper p {
        width: 95%;
    }

    .herosection2 {
        width: 100%;
        height: auto;
        padding: 3.5rem 10%;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .herosection2 .ctas {
        justify-content: start;
    }

    .about {
        flex-direction: column;
        padding-right: 10%;
    }

    .aboutright {
        padding-top: 3.5rem;
        padding-left: 0;
    }

    .detail {
        padding: 3.5rem 0 3.5rem 10%;
        gap: 2rem;
    }

    .detail h3 {
        display: inline;
    }

    .rowwrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem 7rem;
    }

    .row li {
        width: 10rem;
    }



}

@media (max-width: 900px) {
    html {
        font-size: 12px;
    }

    .herosection1 {
        flex-direction: column;
        align-items: start;
        gap: 3.5rem;
    }

    .arrowindicator {
        display: none;
    }

    .services {
        padding: 3.5rem 10% 3.5rem 10%;
    }

    .serviceswrapper {
        flex-direction: column;
    }

    .serviceswrapper div {
        width: 100%;
    }

    .about img {
        width: 50%;
    }

    .aboutright {
        padding-left: 0;
    }

    .ctas {
        margin-top: 3rem;
    }

    #contact .ctas {
        flex-direction: column;
    }

    .smallLine {
        display: none;
    }

    .largeLine {
        width: 5%;
    }

    #squareArrow,
    .largeLine {
        display: none;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 12px;
    }

    .greeting {
        width: 100%;
    }

    #arrow {
        display: none;
    }

    .secondparagraph {
        margin-right: 2rem;
    }

    .roles {
        height: 100%;
        flex-direction: column;
    }

    .socials {
        width: 100%;
    }

    .socials ul {
        justify-content: space-between;
        gap: auto;
    }

    .about img {
        width: 100%;
    }

    .herosection2 .ctas,
    .textWrapper {
        width: 100%;
    }

    .ctas {
        flex-direction: column;
    }

    .primary-button,
    .secondary-button {
        width: 100%;
    }

    #music li {
        width: 6.7rem;
    }

    .largeLine {
        display: none;
    }

    .footerNav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .ullistFooter {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 300px) {
    .socials span {
        display: none;
    }
}